# dependencies
bun-debug.log*
node_modules/

# misc
.DS_Store
*.pem

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Specific to my dotfiles
**/nvim/lazy-lock.json
unix-configs/.config/zsh/plugins.zsh
unix-configs/.config/tmux/plugins/

# Machine-specific Docker Compose overrides
docker-compose.override.yml
