layout {
    pane split_direction="vertical" {
        pane
    }
    pane size=1 borderless=true {
        plugin location="zjstatus" {
            // Common settings
            format_left "{mode}{tabs}"
            format_right "#[fg=black,bg=green]#[fg=black,bg=green] {session} {command_hostname}{datetime}"
            format_space "#[bg=black]"
            // Display hostname
            command_hostname_command "bash -c \"if command -v hostname &> /dev/null; then hostname; elif command -v hostnamectl &> /dev/null; then hostnamectl hostname; else echo 'Unknown'; fi\""
            command_hostname_format "#[fg=green,bg=blue]#[fg=black,bg=blue] {stdout} #[fg=blue,bg=magenta]"
            command_hostname_rendermode "static"
            command_hostname_interval "0"
            // Display current mode
            mode_normal "#[fg=black,bold,bg=yellow]  #[fg=yellow,bg=black]"
            mode_locked "#[fg=black,bold,bg=magenta]  #[fg=magenta,bg=black]"
            mode_resize "#[fg=black,bold,bg=red] 󰩨 #[fg=red,bg=black]"
            mode_pane "#[fg=black,bold,bg=green]  #[fg=green]"
            mode_tab "#[fg=black,bold,bg=green]  #[fg=green,bg=black]"
            mode_scroll "#[fg=black,bold,bg=green] 󱕒 #[fg=green,bg=black]"
            mode_session "#[fg=black,bold,bg=white]  #[fg=white,bg=black]"
            mode_move "#[fg=black,bold,bg=brown] 󰆾 #[fg=brown,bg=black]"
            // Display tabs
            tab_normal "#[fg=black,bg=#4C4C59] #[fg=black,bg=#4C4C59]{index} #[fg=#4C4C59,bg=black]"
            tab_normal_fullscreen "#[fg=#6C7086,bg=black] {index} {name} [] "
            tab_normal_sync "#[fg=#6C7086,bg=black] {index} {name} <> "
            tab_active "#[fg=black,bg=white,bold,italic] {index} #[fg=white,bg=black]"
            tab_active_fullscreen "#[fg=#9399B2,bg=black,bold,italic] {index} {name} [] "
            tab_active_sync "#[fg=#9399B2,bg=black,bold,italic] {index} {name} <> "
            // Display datetime
            datetime "#[fg=black,bg=magenta] {format} "
            datetime_format "%a %D %H:%M"
            datetime_timezone "America/Los_Angeles"
        }
    }
}

